<div class="overflow-clip">
  <div class="overflow-x-auto w-full">
    <table mat-table [dataSource]="dataSource()" matSort>
      @for (column of internalColumns(); track $index) {
        <ng-container matColumnDef="{{ column.id }}">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="column.isUnsortable">
            {{ column.label }}
          </th>

          @if (column.id !== 'actions') {
            <td mat-cell [matTooltip]="element.tooltips?.[column.id]" *matCellDef="let element">
              @if (column.action === undefined) {
                {{ element[column.id] }}
              } @else {
                <button
                  mat-stroked-button
                  color="primary"
                  [attr.aria-label]="'Perform action on ' + element[column.id]"
                  (click)="column.action(element)"
                >
                  {{ element[column.id] }}
                </button>
              }
            </td>
          } @else {
            <td mat-cell *matCellDef="let element">
              <div class="flex flex-nowrap w-fit">
                @for (button of actions(); track $index) {
                  @if (!button.showCondition || button.showCondition(element)) {
                    <button
                      class="mr-4"
                      mat-button
                      [color]="button.color ?? 'default'"
                      (click)="handleAction(button, element)"
                      [matButton]="button.buttonType ?? ''"
                      [disabled]="isButtonDisabled(button)"
                    >
                      {{ button.label }}
                    </button>
                  }
                }
              </div>
            </td>
          }

          <td mat-footer-cell *matFooterCellDef>
            {{ column.footerContent ? column.footerContent() : '' }}
          </td>
        </ng-container>
      }

      <tr mat-header-row *matHeaderRowDef="displayedColumnIds()" sticky></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumnIds()"
        (click)="onRowClick(row)"
        [class.selected]="selectedRow === row"
        (keydown.enter)="onRowClick(row)"
      ></tr>
      @if (showFooter()) {
        <tr mat-footer-row *matFooterRowDef="displayedColumnIds()"></tr>
      }
    </table>
  </div>

  <mat-divider class="bg-he-darkblue-400 !border-t-2" />
  <mat-paginator
    [pageSizeOptions]="internalPageSizeOptions()"
    showFirstLastButtons
    aria-label="Wähle Seite der Liste"
  />
</div>
