.login-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100%;
}

.initials {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #3f51b5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  box-sizing: border-box;
}

.login-component button {
  min-height: 0;
  padding: 0 10px;
  line-height: 1.2;
  font-size: 0.75rem;
  color: white;
}
