# This workflow will build a Docker package and publish it to GitHub packages when the test-and-analyze workflow succeeds
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-docker-images

name: Build and Package Backend (push main)

on:
  workflow_run:
    workflows: ["Build and Test Backend (push/pr main)"]
    types:
      - completed
    branches: [ "main" ]

jobs:
  build-package:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    defaults:
      run:
        working-directory: backend

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
        cache-dependency-path: backend/pom.xml

    - name: Build with Maven
      run: ./mvnw -B package -DskipTests

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Extract metadata
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ghcr.io/${{ github.repository }}-backend
        tags: |
          type=raw,value=latest,enable={{is_default_branch}}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: ./backend
        file: Dockerfile.backend
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
